/** @format */

@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
*,
*::before,
*::after {
    box-sizing: border-box;
}

html body {
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 14px;
}

#nav {
    background-color: #623e5a;
    min-width: 100%;
}

.nav-bar {
    text-align: center;
    margin-top: 0;
    color: white;
    /* background-color: #010101; */
}

h1 {
    text-align: left;
    margin-left: 20px;
    text-shadow: 0 3px 6px black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 1.5rem;
    margin-top: 0;
    padding-top: 15px;
    padding-bottom: 10px;
    width: 100%;
    margin-bottom: 0;
}

#hero {
    margin-top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

#tagline {
    padding-left: 20px;
    text-align: left;
    font-size: 4rem;
    text-transform: uppercase;
    text-overflow: clip;
    letter-spacing: 4px;
    line-height: 200%;
    color: #21152d;
    /* background-color: #648cc9; */
}

#purpose {
    color: #fbae54;
}

.nav-bar>#nav-seciton>h1 {
    padding: 10px;
}

.card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 10px;
    color: white;
    display: none;
}

.card {
    height: auto;
    width: 500px;
    background-color: #ca95ab;
    border: 3px solid #fbae54;
    border-radius: 10px;
    justify-content: center;
    text-align: center;
    padding: 10px;
    margin: 15px;
    box-shadow: 3px 6px #21152d50;
}

.card>p {
    text-align: left;
}

.card>img {
    height: 237px;
    width: 290px;
    border-radius: 10px;
}

ul {
    list-style: none;
}

#schedule>ul {
    text-align: left;
    font-style: italic;
    columns: 2;
}

.list-emp {
    text-align: left;
    font-weight: bold;
    font-style: normal;
}

#clips {
    text-align: center;
}

#clip-container {
    display: flex;
    justify-content: center;
}

.videos {
    margin: 10px;
}

.wrapper {
    min-height: calc(100vh-90px);
}

.footer {
    background-color: #21152d;
    color: white;
    text-align: center;
    padding: 20px;
    display: flex;
    height: 90px;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
}

.footer a {
    text-decoration: none;
    color: white;
}

#label {
    margin-bottom: 15px;
}

@media screen and (max-width: 508px) {
    h1 {
        font-size: 1.3rem;
        text-align: center;
    }
    #tagline {
        display: flex;
        font-size: 2rem;
        justify-content: center;
        align-content: center;
        align-items: center;
        height: 100vh;
        color: #21152d;
    }
    #tagline h2 {
        font-weight: 400;
    }
    .card-container {
        display: flex;
    }
    .card {
        max-width: 300px;
    }
    .card>img {
        max-height: 137px;
        max-width: 190px;
    }
    #clip-container {
        display: flex;
        box-sizing: border-box;
        flex-direction: column;
        justify-content: center;
    }
}