/** @format */

@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html body {
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 14px;
}

.wrapper {
    margin: 0;
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #623e5a;
}

.navhead {
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    text-shadow: 0 3px 6px black;
    letter-spacing: 3px;
    font-size: 1.4rem;
}

.nav-items {
    display: flex;
    justify-content: space-around;
    width: 30%;
}

.nav-items li {
    list-style: none;
}

.nav-items a {
    color: white;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 1.2rem;
}

.nav-items a:hover {
    color: #fbae54;
}

.burger {
    display: none;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: rgb(226, 226, 226);
    margin: 5px;
    transition: all 0.3s ease;
}

.burger:hover {
    background-color: #fbae54;
}

#hero {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    top: 8vh;
}

#tagline {
    padding-left: 20px;
    text-align: left;
    font-size: 4rem;
    text-transform: uppercase;
    text-overflow: clip;
    letter-spacing: 4px;
    line-height: 200%;
    color: #21152d;
    text-shadow: 1px 1px 3px black;
    /* background-color: #648cc9; */
}

#purpose {
    color: #fbae54;
    text-shadow: 1px 1px 3px #21152d;
}

.nav-bar>#nav-seciton>h1 {
    padding: 10px;
}

#info-cards {
    display: flex;
}

.card-container {
    color: white;
    background-color: #648cc9;
    width: 50%;
    display: flex;
    justify-content: center;
}

.card-container h3 {
    font-size: 3rem;
    text-shadow: 1px 1px 3px #21152d;
}

.card {
    height: auto;
    width: 66%;
    justify-content: center;
    text-align: center;
    padding: 10px;
    font-size: 1.5rem;
}

#sched-div {
    background-color: #623e5a;
}

.card>p {
    text-align: left;
}

.card>img {
    height: 337px;
    width: 390px;
    border-radius: 10px;
}

ul {
    list-style: none;
}

#schedule>ul {
    text-align: left;
    font-style: italic;
    columns: 2;
}

.list-emp {
    text-align: left;
    font-weight: bold;
    font-style: normal;
}

.wrapper {
    min-height: calc(100vh-90px);
}

.footer {
    margin-top: 0;
    background-color: #21152d;
    color: white;
    text-align: center;
    padding: 20px;
    display: flex;
    height: 90px;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
}

.footer a {
    text-decoration: none;
    color: white;
    font-size: 1.75rem;
}

#label {
    margin-bottom: 15px;
}

@media screen and (max-width: 1024px) {
    .nav-items {
        width: 30%;
    }
}

@media screen and (max-width: 768px) {
    body {
        overflow-x: hidden;
    }
    .nav-items {
        position: fixed;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: #623e5a;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    .nav-items li {
        opacity: 0;
    }
    .burger {
        display: block;
        cursor: pointer;
    }
    #tagline {
        display: flex;
        font-size: 2rem;
        justify-content: center;
        align-content: center;
        align-items: center;
        height: 92vh;
        top: 8vh;
        color: #21152d;
    }
    #tagline h2 {
        font-weight: 400;
    }
    #info-cards {
        flex-direction: column;
        margin: 0;
    }
    .card-container {
        width: 100%;
    }
    .card {
        width: 100vw;
    }
    .card>img {
        max-height: 137px;
        max-width: 190px;
    }
}

@media screen and (max-width: 550px) {
    .navhead {
        font-size: 0.7rem;
    }
}

.nav-active {
    transform: translateX(0%);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}