/** @format */

@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
*,
*::before,
*::after {
    box-sizing: border-box;
}

html body {
    margin: 0;
    padding: 0;
    background-color: #623e5a;
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 14px;
    color: white;
}

#nav {
    background-image: url('./images/herocross.jpeg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    max-height: 190px;
    height: 190px;
    position: relative;
    text-align: center;
}

.nav-bar {
    text-align: center;
    margin-top: 0;
    color: white;
    /* background-color: #010101; */
}

h1 {
    text-shadow: 0 3px 6px black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 1.5rem;
    margin-top: 0;
    padding: 15px;
    width: 100%;
}

#tagline {
    padding: 15px;
    padding-top: 0;
    position: absolute;
    width: 100%;
    bottom: 0;
    text-align: center;
    font-size: 1.2rem;
}

.nav-bar>#nav-seciton>h1 {
    padding: 10px;
}

.card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 10px;
}

.card {
    height: auto;
    width: 500px;
    background-color: #ca95ab;
    border: 3px solid #fbae54;
    border-radius: 10px;
    justify-content: center;
    text-align: center;
    padding: 10px;
    margin: 15px;
}

.card>p {
    text-align: left;
}

.card>img {
    height: 237px;
    width: 290px;
    border-radius: 10px;
}

ul {
    list-style: none;
}

#schedule>ul {
    text-align: left;
    font-style: italic;
    columns: 2;
}

.list-emp {
    text-align: left;
    font-weight: bold;
    font-style: normal;
}

#clips {
    text-align: center;
}

#clip-container {
    display: flex;
    justify-content: center;
}

.videos {
    margin: 10px;
}

.wrapper {
    min-height: calc(100vh-90px);
}

.footer {
    background-color: #21152d;
    color: white;
    text-align: center;
    padding: 20px;
    display: flex;
    height: 90px;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
}

.footer a {
    text-decoration: none;
    color: white;
}

#label {
    margin-bottom: 15px;
}

@media screen and (max-width: 508px) {
    #nav {
        background-image: url('./images/herocross.jpeg');
        background-size: 100% 100%;
        background-repeat: no-repeat;
        width: auto;
        height: 150px;
    }
    h1 {
        font-size: 1.3rem;
    }
    #tagline {
        font-size: 12px;
    }
    .card {
        max-width: 300px;
    }
    .card>img {
        max-height: 137px;
        max-width: 190px;
    }
    #clip-container {
        display: flex;
        box-sizing: border-box;
        flex-direction: column;
        justify-content: center;
    }
}